html, body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100%; /* Ensure the body fills the viewport */
  color: #ffffff;
}

.App {
  text-align: center;
  min-height: 100vh; /* Ensure the app fills the viewport */
  background-color: #121212; /* Match the background color */
  display: flex;
  flex-direction: column;
}

.Profile-Picture {
  border-radius: 15%;
}

.Header-Whole {
  min-height: 50vh; /* Ensure it covers at least half the viewport */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right; /* Center horizontally */
  background-image: 
    linear-gradient(to top, rgba(18, 18, 18, 1), rgba(18, 18, 18, 0.5), rgba(18, 18, 18, 0)), /* Extended gradient for a smoother fade */
    url('/public/Logo/Intro.png'); /* Corrected path */
  background-size: cover;
  background-position: center; /* Ensure the image is centered */
  background-repeat: no-repeat;
  padding: 100px; /* Ensure consistent padding */
  margin: 0; /* Remove any margin that might cause a line */
  border: none; /* Ensure no border is causing the line */
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align header objects to the right */
  margin-right: 20px; /* Add spacing from the right edge */
}

.Header-Inner {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.Socials {
  display: flex;
  gap: 10px; /* Add spacing between icons */
}


.Skills {
  display: flex;
  flex-direction: row;
}

.Skill {
  margin: 10px;
  padding: 10px;
  background-color: #2c2c2c;
  border: .5px solid #2c2c2c;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 2px 16px;
  box-shadow: 0 4px 8px 0 #00274C;
  transition: 0.3s;
}

.React-Logo {
  background-color: #204d5a;
  border-radius: 10%;
  border: 5px solid #204d5a; /* Expanded border with a specific color */
}

.Figma-Logo {
  background-color: #363636;
  border-radius: 10%;
  border: 2px solid #363636; /* Expanded border with a specific color */
}

.Project {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.Project-One {
  background-color: #2c2c2c;
  color:#ffffff;
  transition: 0.3s;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 #00274C;
}

.Project-One img {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border: 1% solid #ffffff;
}

.Project-Two {
  background-color: #2c2c2c;
  color:#ffffff;
  transition: 0.3s;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 #00274C;
}

.Project-Two img {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border: 1% solid #ffffff;
}

.Skill:hover {
  box-shadow: 0 8px 16px 0 #695503;
}

.Project-One:hover {
  box-shadow: 0 8px 16px 0 #695503;
}

.Project-Two:hover {
  box-shadow: 0 8px 16px 0 #695503;
}

.Education-One {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.Education-Two {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Header-Whole h1, .Header-Whole h2, .Skill-Description h3, .Skill-Description p {
  margin: 5px 0; /* Reduce vertical spacing between the text */
  padding: 0;    /* Remove any extra padding */
}

.Education {
  margin: 5px 0; /* Reduce vertical spacing between the text */
  padding: 0;    /* Remove any extra padding */
}
  
.Education-One h2, .Education-One p {
  margin: 5px 0; /* Reduce vertical spacing between the text */
  padding: 0;    /* Remove any extra padding */
}

.Education-Two h2, .Education-Two p {
  margin: 5px 0; /* Reduce vertical spacing between the text */
  padding: 0;    /* Remove any extra padding */
}

.Project {
  margin: 10px 0; /* Reduce vertical spacing between the text */
  padding: 0;    /* Remove any extra padding */
}

